{% extends "navapp/base.html " %} 
{% load static %} 

{% block title_block %}All Departments{% endblock %}

{% block style_block %} 

{% endblock %} 

{% block body_block %}
<link rel="stylesheet" href="{% static 'allTeacher.css' %}" />
<section id="allTeachers">
  <h2>Teachers</h2>
  <div class="articles">
    <img src={{ teacher.image.url }} , alt="{{teacher.name}}">
    {% for teacher in all_teachers %}
    {% include "navapp/includes/teacher.html" %} 
    {% endfor %}
  </div>
</section>

{% endblock %}
