* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: white
}

#navbarBrand {
    font-size: 28pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .collapse .navbar-collapse{
    display: flex;
    float: right;
    text-align: right;
} */
/* .navbar .navbar-expand-lg .bg-body-tertiary{
    background-color: aqua;
    padding: 0px;
} */


.nav-link:hover {

    background-color: rgb(39, 144, 144);
}

.carousel-item img {
    height: 80vh;
}

footer .container-fluid {
    height: 150px;
}