/* min-height:100vh;
  width:100%; */
/* background-image: linear-gradient(rgba(115, 144, 231, 0.7), rgba(134, 139, 161, 0.7)),url('university.jpeg');
  background-position: center;
  background-size: cover; */
/* position: relative; */

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container2{
  margin: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
}


.container2 #img {
  /* min-height:60vh; */
  /* margin: 30px; */
  height: 80vh;
  width: 100%;
  opacity: 0.8;
  border-radius: 20px;
  position: absolute;
  
}
.AB1{
  position: absolute;
  z-index: 2;
  top:10px;
  left:10px;
  width:30px;
  height:30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

