body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container2 {
  margin: 0px;
  padding: 2px 2px;
  border-radius: 10px;
  position: relative;
}


.container2 #img {
  /* min-height:60vh; */
  /* margin: 30px; */
  height: 85vh;
  width: 100%;
  opacity: 0.8;
  border-radius: 5px;
}